.box-content p a {
    text-decoration: underline;
    font-size: 18px;
    font-family: "Inter_bold";
}


.project-status {
    position: absolute;
    right: 0;
    top: 0;
    background: #fbed20;
    font-size: 12px;
    font-family: "Inter_Bold";
    padding: 10px;
}

.section-info li a {
    font-weight: bold;
    font-family: "Inter_Bold";
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}
a {
    color: #eb1d3b;
}

.footer-links li a {
    color: #fff;
    font-family: "Inter_Bold";
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

.copyright {
    color: #888888;
}

.gform_button {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545;
    font-weight: bold;
    padding: 12px 40px;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.link-download {
    position: relative;
    font-weight: bold;
    font-family: "Inter_Bold";
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
}

.left-inner p a {
    text-decoration: underline;
    /* font-weight: bold; */
    font-size: 18px;
    font-family: "Inter_Bold";
}

h1 {
    font-size: 48px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Inter_Bold";
    font-weight: bold;
    color: #221e1f;
    line-height: 1.3;
    margin: 0 0 20px;
}

.text-bold {
    font-weight: bold;
    font-family: "Inter_Bold";
    font-size: 18px;
}
.text-underline {
    text-decoration: underline;
}

.side-sep-section a {
    font-weight: bold;
    text-decoration: underline;
    font-family: "Inter_Bold";
}

.sidebar h6 {
    font-size: 16px;
    margin: 0 0 5px;
}
.operations-section p a {
    text-decoration: underline;
}

#header-wrap .header-top-wrap {
    background: #FBED20;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;
    text-align: center;
    font-family: 'helveticaneuebold';
    padding-bottom: 1px;
}

.article-section {
    padding: 0 0 40px;
}

.article-section {
    padding: 0 0 40px;
    color: #2d2d2d;
}

.footer-info a {
    color: #fff;
    font-family: "Inter_Bold";
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    cursor: pointer;
}

#header-wrap .nav-wrap {
    margin-left: auto;
}

#header-wrap #header .menu-mobile {
    display: none; }
	
.mobilenav { display: none; }

@media (max-width: 767px) {
	.mobilenav { display: block; }
}